absl-py
cachetools
certifi
charset-normalizer
cloudpickle
colorama
contourpy
cycler
Farama-Notifications
filelock
fonttools
fsspec
google-auth
google-auth-oauthlib
grpcio
gym-notices
gymnasium
h5py
idna
importlib_metadata
importlib_resources
Jinja2
kiwisolver
llvmlite
Markdown
MarkupSafe
matplotlib
mpmath
networkx
numba
numpy
oauthlib
packaging
pettingzoo
pillow
protobuf
pyasn1
pyasn1_modules
pyparsing
python-dateutil
requests
requests-oauthlib
rsa
scipy
Shimmy
six
sympy
tensorboard
tensorboard-data-server
tianshou
tqdm
typing_extensions
urllib3
Werkzeug
zipp
